@font-face {
    font-family: sf-pro-rounded-regular;
    src: url(./SF-Pro-Rounded-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: sf-pro-rounded-bold;
    src: url(./SF-Pro-Rounded-Bold.otf) format("opentype");
    font-weight: 400;
    font-style: bold
}
@font-face {
    font-family: sf-pro-display-regular;
    src: url(./SF-Pro-Display-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: sf-pro-display-bold;
    src: url(./SF-Pro-Display-Bold.otf) format("opentype");
    font-weight: 400;
    font-style: bold
}
@font-face {
    font-family: oswald-regular;
    src: url(./oswald-regular.woff2) format("woff2"),url(./oswald-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: clearsans-regular;
    src: url(./clearsans-regular.woff2) format("woff2"),url(./clearsans-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: linotte-semibold;
    src: url(./linotte-semibold.woff2) format("woff2"),url(./linotte-semibold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

.tick-flip {
    font-family: clearsans-regular, sans-serif !important;
}
.tick {
    white-space: nowrap;
}

.tick-flip,
.tick-text-inline {
    font-size: 5em;
}

.tick-label {
    margin-top: 1em;
    font-size: 1em;
}

.tick-char {
    width: 1.5em;
}

.tick-text-inline {
    display: inline-block;
    text-align: center;
    min-width: 0.3em;
}

.tick-text-inline+.tick-text-inline {
    margin-left: -.325em;
}

.tick-group {
    margin: 0 .5em;
    text-align: center;
}

.date {
    margin-bottom: .5em;
}

.date-large {
    font-size: 0.8rem;
}

.date-medium {
    font-size: 0.3rem;
}

.time-large {
    font-size: 2.2rem;
}

.time-medium {
    font-size: 0.8rem;
}

body {
    background-color: #000000;
}

.tick-text-inline {
    color: #595d63;
}

.tick-label {
    color: #595d63;
}

.tick-flip-panel {
    color: #fff;
}

.tick-flip {
    min-width: 0em;
    letter-spacing: .1em;
    text-indent: .1em;
}

.tick-flip-panel-text-wrapper {
    line-height: 1.45;
}

.tick-flip-panel {
    background-color: #3c3e3c;
}

.tick-flip {
    border-radius: 0.12em;
}